.window{height:100%; width:100%; position:fixed}
.curtain{background-color: rgba(100,100,100,0.5);}
.option-elem{max-height:70vh; z-index:2; position:absolute; background-color: #fff; 
    box-shadow:2px 2px 2px 2px #aaa; border-radius: 8px;
}
.option-elem .option{gap:5%}

/*mini tabs*/
.minitab{width:100%; overflow:auto; max-height:90%; position:relative;
background-color: #fff; padding:1%; border-radius: 8px; box-shadow:5px 5px #888}
.bigscreen-minitab{max-width:500px; height:400px; margin:auto}
